---
import GitHub from "./icons/GitHub.astro";
import LinkButton from "./LinkButton.astro";
import JavaScript from "./icons/JavaScript.astro";
import Angular from "./icons/Angular.astro";
import DotNet from "./icons/DotNet.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Typescript from "./icons/Typescript.astro";
import Csharp from "./icons/Csharp.astro";
import Link from "./icons/Link.astro";
import Scss from "./icons/Scss.astro";

const TAGS = {
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#f7df1e] text-black",
    icon: JavaScript,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#dd0031] text-white",
    icon: Angular,
  },
  DOTNET: {
    name: ".NET",
    class: "bg-[#512bd4] text-white",
    icon: DotNet,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e34c26] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: Css,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#7952b3] text-white",
    icon: Bootstrap,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#007acc] text-white",
    icon: Typescript,
  },
  CSHARP: {
    name: "C#",
    class: "bg-[#239120] text-white",
    icon: Csharp,
  },
  SCSS: {
    name: "SCSS",
    class: "bg-[#c6538c] text-white",
    icon: Scss,
  },
};

const PROJECTS = [
  {
    title: "Gestor de Presupuesto",
    description:
      "Aplicación web para gestionar un presupuesto y sus gastos, desarrollada con Angular. Permite ingresar un presupuesto inicial, agregar servicios con sus respectivos gastos, sumar al presupuesto existente y reiniciarlo.",
    github: "https://github.com/LRondinelli04/Presupuesto",
    link: "https://presupuesto-ashen.vercel.app",
    image: "/projects/Presupuesto.jpg",
    tags: [TAGS.ANGULAR, TAGS.TYPESCRIPT, TAGS.HTML, TAGS.CSS, TAGS.BOOTSTRAP],
  },
  {
    title: "Juego Interactivo de Preguntas y Respuestas - Conexión Local",
    description:
      "Juego interactivo para dos jugadores, diseñado con JavaScript, HTML y CSS, que utiliza Socket.io para establecer una conexión local. Esta implementación garantiza una experiencia de juego fluida y en tiempo real, fomentando la competencia y la diversión entre los jugadores.",
    github: "https://github.com/LRondinelli04/Preguntas-y-Respuestas",
    image: "/projects/TPFinalJS.jpg",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.BOOTSTRAP],
  },
  {
    title: "IT Resto - Página Responsive de Restaurante",
    description:
      "Página web responsive para un restaurante, que permite visualizar promociones, menú, información de contacto y un formulario para realizar pedidos de delivery. Desarrollada con HTML, CSS, SCSS y JavaScript para ofrecer una experiencia de usuario atractiva y funcional en cualquier dispositivo.",
    github: "https://github.com/LRondinelli04/IT_Resto",
    link: "https://it-resto.vercel.app/",
    image: "/projects/ITResto.jpg",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.SCSS, TAGS.JAVASCRIPT],
  },
];

---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap gap-2 mb-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`inline-flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
          </div>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}

            {link && (
              <LinkButton href={link}>
                <Link class="size-5" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>