---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import LinkButton from "./LinkButton.astro"
import JavaScript from "./icons/JavaScript.astro"
import Angular from "./icons/Angular.astro"
import DotNet from "./icons/DotNet.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#f7df1e] text-black",
    icon: JavaScript,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#dd0031] text-white",
    icon: Angular,
  },
  DOTNET: {
    name: ".NET",
    class: "bg-[#512bd4] text-white",
    icon: DotNet,
  },
}

const PROJECTS = [
  {
    title: "Gestor de Tarjetas de Crédito - Validador y Administrador",
    description:
    "Aplicación web desarrollada con Angular para el frontend y .NET C# para el backend. Permite agregar tarjetas de crédito verificando la validez de los datos ingresados y las almacena en una lista. Ideal para gestionar y validar tarjetas de manera eficiente.",
    github: "https://github.com/LRondinelli04/Fiscalia-de-Estado/tree/main/ProyectoPracticas/proyectoTarjetaDeCredito",
    image: "/projects/Proyecto-TarjetaDeCredito.jpg",
    tags: [TAGS.ANGULAR, TAGS.DOTNET],
  },
  {
  title: "Juego Interactivo de Preguntas y Respuestas - Conexión Local",
  description:
    "Juego de preguntas y respuestas para dos jugadores, desarrollado con JavaScript, HTML y CSS. Utiliza Socket.io para la conexión local, garantizando una experiencia fluida y en tiempo real.",
    github: "https://github.com/LRondinelli04/Licenciatura-en-Sistemas_APU/tree/main/Seminario%20de%20Lenguajes%20-%20JS/Trabajo_Final",
    image: "/projects/TPFinalJS.jpg",
    tags: [TAGS.JAVASCRIPT],
}
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4 pb-1" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



