---
import GitHub from "./icons/GitHub.astro";
import LinkButton from "./LinkButton.astro";
import { Carousel } from "webcoreui/astro";

const MAIN_REPOS = [
  {
    title: "Licenciatura en Sistemas - APU",
    description:
      "Repositorio de prácticas y proyectos de programación desarrollados en el marco de la Licenciatura en Sistemas y APU en la Facultad de Informática - UNLP.",
    github: "https://github.com/LRondinelli04/Licenciatura-en-Sistemas_APU",
  },
  {
    title: "Desarrollo Web",
    description:
      "Repositorio de prácticas y proyectos de programación desarrollados en el marco de la carrera de Desarrollador Front End ofrecida por EducacionIT.",
    github: "https://github.com/LRondinelli04/Desarrollo_Web",
  },
  {
    title: "Fiscalia de Estado",
    description:
      "Repositorio que recopila los trabajos durante la pasantía en la Fiscalía de Estado.",
    github: "https://github.com/LRondinelli04/Fiscalia-de-Estado",
  },
  {
    title: "Portfolio",
    description:
      "Repositorio que contiene el código y el proyecto de mi portafolio personal, donde se muestran mis habilidades, proyectos y experiencia.",
    github: "https://github.com/LRondinelli04/portfolio.dev",
  },
];
---

<!-- Sección de Repositorios Principales -->
<section class="mt-16">
  <Carousel items={MAIN_REPOS.length} subText="Step {0} of {1}">
    {
      MAIN_REPOS.map(({ title, description, github }) => (
        <li>
          <div class="repo-card p-4 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md bg-white dark:bg-gray-800  flex flex-col justify-between">
            <div>
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>
              <p class="my-2 text-gray-600 dark:text-gray-300">{description}</p>
            </div>
            <div class="flex justify-end mt-auto">
              <a href={github} class="btn btn-primary mt-4">
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              </a>
            </div>
          </div>
        </li>
      ))
    }
  </Carousel>
</section>

<style>
  .slide {
    width: 100%;
  }
</style>
